<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/data" method="post">
        <input type="text" name="Name" placeholder="Name">
        <input type="text" name="Year" placeholder="Year">
        <input type="text" name="Rating" placeholder="Rating">
        <input type="text" name="Poster" placeholder="Poster">
        <input type="text" name="Country" placeholder="Country">
        <input type="text" name="Language" placeholder="Language">
        <input type="text" name="Genre" placeholder="Genre">

        <input type="submit" value="create">
    </form>
</body>
</html>